.offer-container {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.offer-description-h2 {
  color: red;
}

.offer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Flexible grid columns */
  gap: 20px;
}

.offer-item {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.offer-item:hover {
  transform: translateY(-5px);
}

.offer-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.offer-content {
  margin-top: 20px;
}

.offer-icon {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(66, 65, 65);
}

.offer-title {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.offer-h3 {
  color: red;
}

.offer-title:nth-of-type(2),
.offer-title:nth-of-type(3) {
  color: red;
}

.offer-description {
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.learn-more-button {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: lightgrey;
}

/* Media Queries for Improved Responsiveness */

@media (max-width: 1200px) {
  .offer-items {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Three flexible columns */
  }
}

@media (max-width: 992px) {
  .offer-items {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Two flexible columns */
  }
}

@media (max-width: 768px) {
  .offer-items {
    grid-template-columns: repeat(1, 1fr); /* Single column layout */
  }

  .offer-item {
    padding: 15px; /* Reduce padding for better mobile view */
  }
}

@media (max-width: 480px) {
  .offer-item {
    padding: 10px; /* Further reduce padding for extra small screens */
  }

  .offer-item img {
    height: 150px; /* Reduce image height on extra small screens */
  }
}



  
  
  