/* Default styles for mobile-first approach */
.navbar {
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  /* padding: 0; */
  height: 70px;
  transition: height 0.5s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* .navbar.scrolled {
  height: 10vh;
} */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo img {
  max-width: 90px;
  margin-left: 15px;
  margin-top: 5px;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: maroon;
  display: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  text-align: left;
  transition: transform 0.3s ease;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: maroon;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.nav-item {
  margin-left: 10px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: maroon;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px;
}

.navbar.scrolled .nav-item {
  transform: translateY(50%);
}

.navbar.scrolled .nav-item .Home {
  display: none;
}

.nav-link:hover {
  color: red;
}

.enroll-button {
  padding: 8px 16px;
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.enroll-button:hover {
  background-color: lightgray;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.dropdown-menu a:hover {
  color: darkred;
}

.new-nav-container {
  display: flex;
  justify-content: space-between;
}

.close-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: darkgreen;
  cursor: pointer;
  z-index: 1100;
}

/* Media queries for responsiveness */

@media (min-width: 1024px) {
  .navbar {
    height: 90px;
    background: #ffffff;
    transition: 0.5s ease-out;
  }

  .nav-link {
    font-size: medium;
  }

  .dropdown-menu {
    display: none;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbar {
    height: 90px;
  }

  .nav-link {
    font-size: small;
  }

  .nav-menu {
    display: flex;
    gap: 7px;
  }

  .dropdown-menu {
    font-family: 'Times New Roman';
    font-size: smaller;
  }

  .enroll-button {
    display: inline-block; /* Ensures padding and border apply correctly */
    padding: 8px 16px; /* Adjust padding to reduce button size */
    font-size: 10px; /* Decrease font size */
    border-radius: 8px; /* Adjust border-radius if needed */
  }

}

@media (max-width: 768px) { 

  .navbar {
    height: max-content;
  }

  .enroll-button {
    padding: 8px 8px;
  }
  
  .menu-icon {
    display: block;
    font-size: 24px;
    z-index: 1100;
    margin-right: 15px;
  }

  .navbar-logo img {
    max-width: 70px;
    padding-left: 5px;
  }

 .nav-menu {
    display: none;
    height: 100%;
    transform: translateX(100%); /* Hide off-screen initially */
    transition: transform 3s ease; /* Slide in effect */
} 

  .mobile-menu-open {
    /* transform: translateX(0); */
    display: flex;
    position: fixed;
    top: 0px;
    right: 0;
    /* left: 10px; */
    width: 70%;
    background-color: rgb(248, 255, 255);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.87);
    z-index: 1000;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(0);
  }

  

  .dropdown-menu {
    position: static;
  }


  .close-button {
    display: none;
    top: 20px;
    right: 20px;
  }

  .inactive-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  } 


  .nav-link {
    font-size: 1.2em;
  }

  .close-button {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 1em;
  }

  .navbar-logo img {
    max-width: 50px;
  }

  .close-button {
    top: 5px;
    right: 5px;
  }
}
