/* Default styles for mobile-first approach */
.navbar {
  position: sticky;
  top: 0;
  /* width: 100%; */
  background: rgb(255, 255, 255);
  padding: 10px;
  height: 90px; /* Reduced height */
  transition: height 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar.scrolled {
  height: 70px; /* Height when scrolled */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo img {
  max-width: 90px;
  max-height: 50%;
  margin-left: 15px;
  margin-top: 5px;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: maroon;
  display: none; /* Hide by default */
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  text-align: left;
  transition: transform 0.3s ease;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px; /* Adjusted to ensure it's below the navbar */
  right: 20px;
  background-color: maroon;
  width: 250px; /* Set a fixed width for the menu */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.nav-item {
  margin-left: 10px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: maroon;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  margin: 0 10px;
}

.navbar.scrolled .nav-item {
  transform: translateY(50%);
}

.nav-link:hover {
  color: red;
}

.enroll-button {
  padding: 8px 16px;
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  max-width: fit-content;
  max-height: fit-content;
  text-decoration: none;
  margin-right: 20px;
}

.enroll-button:hover {
  background-color: lightgray;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 30px;
  background-color: #ffffff27;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.dropdown-menu a:hover {
  color: darkred;
}

.new-nav-container {
  display: flex;
  justify-content: space-between;
}

.close-button {
  display: none;
}

/* Media queries for responsiveness */

/* For tablets and larger devices */
@media (min-width: 768px) {
  .navbar {
    height: 90px;
  }

  .menu-icon {
    display: none; /* Hide menu icon on larger screens */
  }

  .nav-link {
    font-size: large;
  }

  .nav-menu {
    display: flex;
  }
}

/* For laptops and larger devices */
@media (min-width: 1024px) {
  .navbar {
    height: 90px;
  }

  .nav-link {
    font-size: large;
  }
}

/* For mobile devices */
@media (max-width: 1024px) {
  .navbar {
    height: max-content;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: darkgreen;
    z-index: 1100;
    margin-right: 15px;
  }

  .navbar-logo img {
    max-width: 70px;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 90px; /* Adjusted to be below the navbar */
    left: 0; /* Full width menu */
    width: 100%;
    height: calc(100vh - 90px); /* Full height minus the navbar */
    background-color: #fdf9f9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.87);
    z-index: 1000;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
    transform: translateX(-100%); /* Hide off-screen initially */
    transition: transform 0.3s ease; /* Slide in effect */
  }

  .nav-menu.mobile-menu-open {
    display: flex;
    transform: translateX(0); /* Slide in when active */
    overflow-x: hidden;
  }

  .nav-link {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .dropdown-menu {
    position: static;
  }
  
  /* CSS for close button */
  .close-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: darkgreen;
    cursor: pointer;
    z-index: 1100; /* Ensure it's above other elements */
  }

  /* CSS for inactive background */
  .inactive-background {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 999; /* Ensure it's below the menu but above content */
  }
}

/* For very small mobile devices */
@media (max-width: 768px) {
  .nav-link {
    font-size: 1.2em;
  }

  .close-button {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 1em;
  }

  .navbar-logo img {
    max-width: 50px;
  }

  .close-button {
    top: 5px;
    right: 5px;
  }
}
