.display-applicants {
  padding: 20px;
  text-align: center;
}

.applicants-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px; /* Adjusted padding to reduce space */
  border: 1px solid white;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: darkred; /* Set the color of legend text to dark red */
}

.applicants-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.applicants-list li {
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.body {
  background: linear-gradient(180deg, #28D91D 0%, #9DE6A1 0%);
  align-items: center;
}

.btn-container {
  background: linear-gradient(180deg, #28D91D 0%, #9DE6A1 0%);
}

.button {
  background-color: darkgreen;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-top: 20px; /* Reduced margin-top */
  text-decoration: none;
  text-align: center;
  max-width: 160px;
  margin-left: auto; /* Center the button horizontally */
  margin-right: auto; /* Center the button horizontally */
}

.button:hover {
  background-color: lawngreen;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th,
.data-table td {
  border: 1px solid #080808;
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2;
  text-align: left;
  color: darkred; /* Set the color of table header text to dark red */
}

